.transaction-history {
    width: 250px;
    height: 100%;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 0 8px 0 rgba(29, 30, 31, .2);
    margin-top: 14px;
}

.transaction-history .thead-wrapper {
    height: 23px;
    background-color: #00BCD5;
    font-size: 10px;
    font-weight: 700;
    color: #FFFFFF;
}

.transaction-history .thead-wrapper th {
    width: 83px;
}

.transaction-history .tbody-wrapper {
    background-color: #ECF1F4;
    font-size: 10px;
    font-weight: 400;
    color: #6F7478;
}

.transaction-history .tbody-wrapper td {
    height: 23px;
    text-align: center;

}